.R1EIDG-wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 42px;
    gap: 6px;
}

.access-login .R1EIDG-wrapper{
    flex-direction: row;
}

#loginform .R1EIDG-wrapper{
    flex-direction: column;
}

#loginform .R1EIDG-wrapper::before{
    content: "oppure";
    margin-bottom: 6px;
}

.R1EIDG-btn{
    height: 48px;
}

.button-cie {
    background-color: #0053a2;
}