.R1EIDG-wrapper{
    flex-direction: column;
    display: flex;
    width: 100%;
    gap: 8px;
}

.access-login .R1EIDG-wrapper{
    margin-top: 20px;
    align-items: start;
}

#loginform .R1EIDG-wrapper{
    margin-top: 42px;
    align-items: center;
}

#loginform .R1EIDG-wrapper::before{
    content: "oppure";
    margin-bottom: 4px;
}

.R1EIDG-btn{
    height: 48px;
}

.button-cie {
    background-color: #0053a2;
}